DS_Store
**/.DS_Store
node_modules/
bin/
dist/
tests/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific Files/Directories
/realworld-io-clone/notes
/realworld-io-clone/libraries_resources